div,span,p{
	font-size: 18px;
}
a{
	text-decoration: none;
	color: #44aadd;
	transition: .14s;
}
a:hover{
	color: #feae1b;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 400;
	margin-top: 12px;
	margin-bottom: 12px;
}
h1{
	font-size: 36px;
	letter-spacing: 2px;
}
h2{
	font-size: 24px;
	letter-spacing: 2px;
}
.title{
	color: #55bbee;
}
input{
	font-size: 18px;
	outline: none;
	border: none;
}
p{
	margin: 10px 0px;
}
pre{
	margin: 0px;
}

body{
	background-color: #eaeaea;
	background-attachment: fixed;
	background-position: left top;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
}
body,p,h1,h2,h3,h4,h5,h6{
	font-family: Lato;
}
code>span, code{
	font-family: "consolas" !important;
	font-size: 20px !important;
}

.ivory{
	background-color: #fafafa;
	background-color: #ffffffee !important;
}
.grey{
	background-color: #eee;
	background-color: #00000011 !important;
}
.rounded{
	border-radius: 4px;
}

.topbar-item{
	width: 140px;
	font-size: 18px;
	height: 100%;
	letter-spacing: 1px;
	color: inherit;
}
.topbar-item>i{
	margin-right: 6px;
	position: relative;
	top: 1px;
}

div.login-input{
	margin: 10px 0px;
	transition: .2s;
	border-bottom: 1px solid #ccc;
}
div.login-input:hover{
	border-bottom: 1px solid #000;
}
input.login-input{
	width: 90%;
	background-color: #ffffff00;
	caret-color: #aaa;
}
input.login-input:hover{
	caret-color: #666;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}
td, th{
	border: 1px solid #888;
	padding: 2px 10px 1px 10px;
}
th{
	background-color: #ccc;
}

.button{
	border-color: #ffffff00;
	border-style: dashed;
	border-width: 1px;
	font-size: 18px !important;
	font-weight: 500;
}
.button.button-border{
	border-color: inherit !important;
	border-style: solid;
	border-width: 1px;
}
.button.button:hover{
	background-color: #ffffff00;
	border-style: dashed;
	border-width: 1px;
}
.button-primary:hover{
	color: #4cb0f9;
	border-color: #4cb0f9 !important;
}
.button-action:hover{
	color: #a5de37;
	border-color: #a5de37 !important;
}
.button-highlight:hover{
	color: #fec04e;
	border-color: #fec04e !important;
}
.button-caution:hover{
	color: #ff7680;
	border-color: #ff7680 !important;
}
.button-royal:hover{
	color: #a49ef0;
	border-color: #a49ef0 !important;
}
