.column{
	height: 100%;
	display: flex;
	flex-direction: column;
}
.row{
	display: flex;
	flex-direction: row;
	width: 100%;
}
.item-vertical-centered:not(.column){	/* 竖直方向上居中 */
	display: flex;
	align-items: center;
}
.item-horizontal-centered:not(.column){	/* 水平方向上居中 */
	display: flex;
	justify-content: center;
}
.item-left-aligned:not(.column){
	display: flex;
	justify-content: flex-start;
}

.item-centered{			/* 两个方向上同时居中 */
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
code{
	text-align: initial;
}
.item-vertical-centered.column{	/* 竖直方向上居中 */
	display: flex;
	justify-content: center;
}
.item-horizontal-centered.column{	/* 水平方向上居中 */
	display: flex;
	align-items: center;
}
.item-left-aligned.column{
	display: flex;
	align-items: flex-start;
}
.animation{
	transition: .14s ease;
}
.hover-animation:hover{
	transition: .14s ease;
	background-color: #00000008;
}
