<link href="/static/modules/fonts.googleapis.com/Lato.css" rel="stylesheet" type="text/css">
<link href="/static/modules/fonts.googleapis.com/Consolas.css" rel="stylesheet" type="text/css">

<script src="/static/modules/jquery/jquery.js"> </script>

<link rel="stylesheet" href="/static/modules/font-awesome/css/font-awesome.min.css" />

<link rel="stylesheet" href="/static/modules/buttons/buttons.css" />
<script src="/static/modules/buttons/buttons.js"></script>

<script src="/static/modules/sha256/sha256.min.js"> </script>

<script src="/static/modules/layer/layer.js"> </script>

<link href="/static/intoj-framework.css" rel="stylesheet" type="text/css">
<link href="/static/intoj.css" rel="stylesheet" type="text/css">
