<link href="https://fonts.loli.net/css?family=Lato" rel="stylesheet" type="text/css">
<link href="https://fonts.loli.net/css?family=Consolas" rel="stylesheet" type="text/css">

<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"> </script>

<link rel="stylesheet" href="/static/modules/font-awesome/css/font-awesome.min.css" />

<link rel="stylesheet" href="/static/modules/buttons/buttons.css" />
<script src="https://cdnjs.loli.net/ajax/libs/Buttons/2.0.0/js/buttons.min.js"> </script>

<script src="https://cdnjs.loli.net/ajax/libs/js-sha256/0.9.0/sha256.min.js"> </script>

<script src="/static/modules/layer/layer.js"> </script>

<link href="/static/intoj-framework.css" rel="stylesheet" type="text/css">
<link href="/static/intoj.css" rel="stylesheet" type="text/css">
