{% extends 'base.html' %}
{% block title %} 自定义测试 {% endblock %}
{% block body %}
<div class="column item-centered ivory" style="width: 1020px;">
	<h1 style="margin-top: 20px; margin-bottom: 0px;"> 自定义测试 </h1>
	<div class="row item-centered" style="margin-bottom: 10px;">
		<div class="column item-left-aligned" style="width: 94%;">
			<h2 class="row title" style="margin-left: 10px; margin-bottom: 10px"> 代码 </h2>
			{{macros.CodeEditor(languages,"code_editor")}}
			<script>
				$("#code_editor-submit-button").parent().before("<textarea id=\"input_data\" style=\"width: 100%; height: 300px;\" placeholder=\"输入数据\"></textarea>")

			</script>
			<script>
				var DoSubmitCode = function(){
					var code = window.code_editor.getValue()
					var input_data = $("#input_data").val()
					var lang = $("#code_editor-language-selector").val()
					document.cookie = "lastlang=" + lang
					$.ajax({
						method: "POST",
						data: {
							code: code,
							input_data: input_data,
							lang: lang
						},
						error: ReportAjaxError,
						success: function(data){
							if( data.success == true ){
								layer.msg('提交成功！');
								setTimeout(function(){
									window.location.href = '/submission/' + data.submission_id
								},400)
							}else{
								layer.alert(data.message,{
									title: '提交失败',
									icon: 2
								})
							}
						}
					})
				}
				$("#code_editor-submit-button").click(function(){ DoSubmitCode(); })
			</script>
		</div>
	</div>

</div>
{% endblock %}
