{% extends 'base.html' %}
{% block title %} 帮助 {% endblock %}
{% block body %}
<div class="column item-centered ivory" style="width: 1020px;">
	<h1 style="margin-top: 16px;"> 帮助 </h1>
	<div class="row item-centered">
		<div class="column havemarkdown item-left-aligned" style="width: 90%">

## 编译器及编译参数

目前只支持 c++ 语言，编译命令为 `g++ {source} -o {exe} -O2 -std=c++17 -fmax-errors=4 -w -static`。其中 `-fmax-errors=4` 表示编译器最多输出 4 条错误信息，`-w` 表示编译器不会输出任何警告信息。

## 数据上传及配置

目前上传数据时，请上传一个 `zip` 文件，里面**不要**包含文件夹。上传的 `zip` 文件中的内容将**完全替换**之前上传的，也就是说，之前该题的**所有数据**均会被删除。

对于没有 subtask（子任务）的题目，配置文件可以这样写

```json
{
	"testcasesCount": 2,
	"prefix": "aplusb",
	"inputSuffix": ".in",
	"outputSuffix": ".out"
}
```

`testcasesCount` 表示 一共有 `testcasesCount` 组数据，每组数据的输入文件的文件名是 `prefix+str(id)+inputSuffix`，输出文件的文件名是 `prefix+str(id)+outputSuffix`。`id` 的范围是 $[1,\mathrm{testcasesCount}]$

上面那份配置文件所对应的数据就是 `aplusb1.in`，`aplusb1.out`，`aplusb2.in`，`aplusb2.out`。

```json
{
	"subtask": true,
	"inputSuffix": ".in",
	"outputSuffix": ".out",
	"spj": {
		"filename": "spj.cpp",
		"language": "cpp",
		"use_testlib": "true"
	},
	"subtasks": [
		{
			"name": "$ n \leq 9 $",
			"testcasesCount": 31,
			"prefix": "1-",
			"score": 10
		},
		{
			"name": "$ n \leq 20 $",
			"testcasesCount": 25,
			"prefix": "2-",
			"score": 15,
			"rely": [1]
		},
		{
			"name": "$ n \leq 50 $",
			"testcasesCount": 25,
			"prefix": "3-",
			"score": 20,
			"rely": [1,2]
		},
		{
			"name": "$ n \leq 400 $",
			"testcasesCount": 25,
			"prefix": "4-",
			"score": 20,
			"rely": [1,2,3]
		},
		{
			"name": "Full",
			"testcasesCount": 25,
			"prefix": "5-",
			"score": 35,
			"rely": [1,2,3,4]
		}
	]
}
```
		</div>
	</div>
</div>
{% endblock %}
