{% extends 'base.html' %}
{% block title %} 登录 {% endblock %}
{% block body %}
<div class="column item-centered ivory" style="width: 450px">
	<h1> 登录 </h1>
	<div class="row item-centered" style="width: 100%;">
		<div class="column item-centered" style="width: 80%">
			<div class="row item-centered login-input" style="width: 100%">
				<i class="fa fa-user fa-lg fa-fw" style="margin-right: 10px;"></i>
				<input class="login-input" type="text" id="username" autofocus placeholder="用户名" maxlength="15">
			</div>
			<div class="row item-centered login-input" style="width: 100%">
				<i class="fa fa-lock fa-lg fa-fw" style="margin-right: 10px;"></i>
				<input class="login-input" type="password" id="password" placeholder="密码">
			</div>
			<div class="row item-centered">
				<button id="submit" class="button button-rounded button-action">
					提交
				</button>
			</div>
			<div class="row item-centered">
				<p style="font-size: 16px; color: #777;">
					第一次来？<a href="/register"> 前去注册 </a>
				</p>
			</div>
		</div>
	</div>
</div>
<script>
function DoLogin(){
	$.ajax({
		url: "/login",
		type: "POST",
		data: {
			username: $("#username").val(),
			password: $("#password").val()
		},
		error: ReportAjaxError,
		success: function(data){
			if( data.success == true ){
				document.cookie = "username="+data.username+";" + "expires=Wed, 21 Aug 2099 09:28:41 GMT; path=/"
				document.cookie = "client_key="+data.client_key+";" + "expires=Wed, 21 Aug 2099 09:28:41 GMT; path=/"
				layer.msg('登录成功!');
				setTimeout(function(){
					window.location.href = '/'
				},600)
			}else{
				layer.alert(data.message,{
					title: '登录失败',
					icon: 2
				})
			}
		}
	})
}
$("#submit").click(function(){DoLogin()})
$(document).keydown(function(event){
	if( event.keyCode == 13 )
		DoLogin()
});
</script>
{% endblock %}
