{% macro Pagination(per,cur,tot) %}
	{% set args = GetArgsAsString(ignore=['page']) %}
	{% set baseurl = request.base_url %}
	<div class="button-group">
		<a class="button button-rounded button-square button-grey item-centered" href="{{baseurl}}?page={{max(1,cur-1)}}&{{args}}"> <i class="fa fa-angle-left"></i> </a>
		{% set l = max(cur-2,1) %}
		{% set r = min(cur+2,tot) %}
		{% if l != 1 %}
			<a class="button button-rounded button-square button-grey item-centered" href="{{baseurl}}?page=1&{{args}}"> 1 </a>
			{% if l != 2 %}
				<a class="button button-rounded button-square button-grey item-centered"> . . . </a>
			{% endif %}
		{% endif %}
		{% for page in range(l,r+1) %}
			<a class="button button-rounded button-square button-grey item-centered" href="{{baseurl}}?page={{page}}&{{args}}" {% if page==cur %} style="background-color: #ddd" {% endif %}> {{page}} </a>
		{% endfor %}
		{% if r != tot %}
			{% if r != tot-1 %} <a class="button button-rounded button-square button-grey item-centered"> . . . </a> {% endif %}
			<a class="button button-rounded button-square button-grey item-centered" href="{{baseurl}}?page={{tot}}&{{args}}"> {{tot}} </a>
		{% endif %}
		<a class="button button-rounded button-square button-grey item-centered" href="{{baseurl}}?page={{min(tot,cur+1)}}&{{args}}"> <i class="fa fa-angle-right"> </i> </a>
	</div>
{% endmacro %}
{% macro AutoPagination(pageinfo) %}
	{% set cur = request.args.get('page',1)|int %}
	{{Pagination(pageinfo.per,cur,pageinfo.tot)}}
{% endmacro %}

{% macro CodeEditor(languages,id="code_editor") %}
<div class="row item-left-aligned item-verticle-aligned">
	<select id="{{id}}-language-selector">
		{% for language in languages %}
			<option value="{{language.name}}"> {{language.word}} </option>
		{% endfor %}
	</select>
	<script>
		var lastlang = GetCookie("lastlang")
		var SelectOneByValue = function(value){
			var found = false
			$("#{{id}}-language-selector").children().each(function(kth,t){
				t = $(t)
				if( t.attr("value") == value ){
					t.attr("selected","selected")
					found = true
				}
			})
			return found
		}
		var found = SelectOneByValue(lastlang)
		if(!found) SelectOneByValue("cpp11")
	</script>
</div>
<textarea id="{{id}}" style="width: 100%;"></textarea>
<script>
	window.{{id}} = CodeMirror.fromTextArea(document.getElementById("{{id}}"),{
		mode: "text/x-c++src",
		lineNumbers: true,
		theme: "solarized light",
		lineWrapping: true,
		foldGutter: true,
		gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
		matchBrackets: true,
		indentUnit: 4,
		indentWithTabs: true,
		cursorHeight: 0.85
	});
	window.{{id}}.setSize('100%','300px');
</script>
<div class="row item-centered" style="margin-top: 10px;">
	{% if nowuser == None %}
		<button class="button button-rounded item-centered" id="{{id}}-submit-button" disabled> <i class="fa fa-upload fa-fw"></i> 登录后提交 </button>
	{% else %}
		<button class="button button-action button-rounded item-centered" id="{{id}}-submit-button"> <i class="fa fa-upload fa-fw"></i> 提交代码 </button>
	{% endif %}
</div>
{% endmacro %}
