{% extends 'base.html' %}
{% block title %} 题目列表 {% endblock %}
{% block body %}
<div class="column item-centered" style="width: 1100px;">
	<div class="row ivory item-vertical-centered" style="justify-content: space-between">
		<h1 style="margin-left: 100px;" class="title"> 题目列表 </h1>
		{% if CheckPrivilege(nowuser,['problemset_manager','problem_owner']) %}
			<div class="column item-centered">
				<div class="row item-centered">
					<a href="/problemadd" class="button button-primary button-small button-rounded" style="margin-right: 50px;"> 添加题目 </a>
				</div>
			</div>
		{% endif %}
	</div>
	<div class="row ivory item-centered" style="margin-top: 10px">
		<div class="column" style="width: 90%; padding-top: 24px;">
			<div class="row item-centered">
				{{macros.AutoPagination(pageinfo)}}
			</div>
			<div class="row" style="height: 30px; font-size: 18px; font-weight: 500; margin-bottom: 5px;">
				<span class="column item-centered" style="width: 5%;"> # </span>
				<span class="column" style="width: 5%;">  </span>
				<span class="column item-vertical-centered item-left-aligned" style="width: 40%;"> 题目标题 </span>
			</div>
			{% for problem in problems %}
				<div class="row hover-animation" style="height: 50px;">
					<span class="column item-centered" style="width: 5%;"> {{problem.id}} </span>
					<span class="column" style="width: 5%;">  </span>
					<span class="column item-vertical-centered item-left-aligned" style="width: 40%; font-size: 17px;">
						<a href="/problem/{{problem.id}}">
							{{problem.title}}
						</a>
					</span>
				</div>
			{% endfor %}
			<div class="row item-centered">
				{{macros.AutoPagination(pageinfo)}}
			</div>
		</div>
	</div>
</div>
{% endblock %}
