{% extends 'base.html' %}
{% block title %} 编辑 #{{problem.id}}. {{problem.title}} {% endblock %}
{% block head %}
<style>
p.notice{
	color: #999;
	margin: 0px 0px;
	font-size: 12px;
}
</style>
{% endblock %}
{% block body %}
<div class="column item-centered" style="width: 1100px;">
	<div class="row item-centered" style="align-items: flex-start">
		<div class="column item-centered" style="width: 24%; height: auto !important; margin-right: 10px;">
			<div class="row item-centered ivory">
				<div class="column item-centered">
					<h2 class="title" style="font-size: 30px;"> 编辑题目 - #{{problem.id}} </h2>
					<a class="button button-primary button-small" style="margin-bottom: 5px; width: 70%;" href="/problem/{{problem.id}}" target="_blank"> 打开前台 </a>
					<button class="button button-caution button-small" style="margin-bottom: 12px; width: 70%;" id="delete-problem"> 删除此题 </button>
					<script>
						$("#delete-problem").click(function(){
							var rand_num = Math.random()*233333333	// 防止浏览器记住地址
							layer.alert('是否真的要删除<br />#{{problem.id}}. {{problem.title}}?',{
								title: '确认删除',
								icon: 3,
								btn: ['确认删除','还是算了'],
								yes: function(){
									window.location.href = '/problem/{{problem.id}}/delete?_=' + rand_num.toString()
								},
								btn2: function(){
									return
								}
							})
						})
					</script>
				</div>
			</div>
			<div class="row item-centered ivory" style="margin-top: 10px;">
				<div class="column item-centered">
					<h2 class="title"> 题目 id </h2>
					<div class="row item-centered login-input" style="width: 90%">
						<input class="login-input item-centered" type="number" id="new-problem-id" value="{{problem.id}}"> </input>
					</div>
				</div>
			</div>
			<div class="row item-centered ivory" style="margin-top: 10px;">
				<div class="column item-centered">
					<h2 class="title"> 题目标题 </h2>
					<div class="row item-centered login-input" style="width: 90%">
						<input class="login-input item-centered" type="text" id="new-title" value="{{problem.title}}"> </input>
					</div>
				</div>
			</div>
			<div class="row item-centered ivory" style="margin-top: 10px;">
				<div class="column item-centered">
					<h2 class="title"> 公开 </h2>
					<input type="checkbox" id="new-is-public" {{'checked' if problem.is_public else ''}} style="margin-bottom: 12px;"> </input>
				</div>
			</div>
			<div class="row item-centered ivory" style="margin-top: 10px;">
				<p style="color: #666; font-size: 12px; margin: 10px 10px;">
					Tips: 您可以使用编辑器右上角的功能性按钮来进行全屏编辑 <br />
					<a id="toggle-more-tips"> More Tips... </a>
					<script>
						var tips = `
						<h3> 更多小 Tips </h3>
						<ul>
							<li> 首先，如果你遇到了提交失败的情况，别担心，您输入的数据不会丢。 </li>
							<li> 提交后您可以选择「继续编辑」，所以，记得多保存。 </li>
							<li> 不会用 markdown? 编辑器上方的功能键可以满足大部分需要 </li>
							<li> 界面太小？点击编辑器上方的功能键可以全屏编辑 </li>
							<li> 编辑时表格中的数学公式不能显示，但别担心，切换到前台后会正常渲染的 </li>
							<li> python3 代码请使用 <pre>\`\`\`python</pre> 而不是 <pre>\`\`\`python3</pre> </li>
						</ul>
						`
						$("#toggle-more-tips").click(function(){
							layer.open({
								title: 'More Tips...',
								type: 1,
								area: ['420px', '240px'],
								content: tips
							});
						})
					</script>
				</p>
			</div>
			<div class="row item-centered ivory" style="margin-top: 10px;">
				<button class="button button-action" id="submit" style="width: 100%"> 提交 </button>
			</div>
		</div>
		<div class="column item-centered ivory" style="width: 76%; margin-right: 10px; padding-bottom: 20px;">
			<div class="row item-centered" style="margin: 14px 0px 0px 0px;"> <h1> #{{problem.id}}. {{problem.title}} </h1> </div>
			<script>
				function HTMLDecode(text){
					var temp = document.createElement("div");
					temp.innerHTML = text;
					var output = temp.innerText || temp.textContent;
					temp = null;
					return output;
				}
			</script>
			{% macro ContentBlock(name,content,tagname) %}
				<div class="row item-centered">
					<div class="column item-centered" style="width: 96%;">
						<h2 class="row title" style="margin-left: 10px; font-size: 30px; color: #44aadd"> {{name}} </h2>
						<div id="editor-{{tagname}}-container" style="height: 500px; text-align: initial; width: 100%;">
							<div id="editor-{{tagname}}"></div>
						</div>
						<script>
							var editor_{{tagname}} = null;
							function GetEditor{{tagname}}Val(){
								if(editor_{{tagname}})
									return editor_{{tagname}}.content
								else
									return $("#editor-{{tagname}}").val()
							}
							function SetEditor{{tagname}}Val(code){
								code = HTMLDecode(code)
								if(editor_{{tagname}})
									editor_{{tagname}}.content = code
								else
									$("#editor-{{tagname}}").val(code)
							}
							$(document).ready(function(){
								editor_{{tagname}} = new MarkdownPalettes("#editor-{{tagname}}")
								SetEditor{{tagname}}Val("{{repr(content)[2:-1]}}")
							})
						</script>
					</div>
				</div>
			{% endmacro %}
			{{ContentBlock('题目背景',problem.background,'background')}}
			{{ContentBlock('题目描述',problem.description,'description')}}
			{{ContentBlock('输入格式',problem.input_format,'input_format')}}
			{{ContentBlock('输出格式',problem.output_format,'output_format')}}
			{{ContentBlock('数据范围与提示',problem.limit_and_hint,'limit_and_hint')}}
			<div class="row item-centered">
				<div class="column item-centered" style="width: 96%;" id="examples-container">
					<h2 class="row title" style="margin-left: 10px; font-size: 30px; color: #44aadd"> 样例 </h2>
					<div class="row item-centered">
						<h3 style="width: 7%; " class="title item-centered"> # </h3>
						<h3 style="width: 31%;" class="title item-left-aligned"> 输入 </h3>
						<h3 style="width: 31%;" class="title item-left-aligned"> 输出 </h3>
						<h3 style="width: 31%;" class="title item-left-aligned"> 解释 </h3>
					</div>
					{% for example in problem.examples %}
						{% set kth = loop.index %}
						<div class="row" id="example-{{kth}}" style="margin-bottom: 10px;">
							<h3 class="title" style="width: 7%;"> #{{kth}} </h3>
							<textarea style="width: 31%; height: 150px; padding: 10px;" id="example-{{kth}}-input" placeholder="样例输入">{{example.input|e}}</textarea>
							<textarea style="width: 31%; height: 150px; padding: 10px;" id="example-{{kth}}-output" placeholder="样例输出">{{example.output|e}}</textarea>
							<textarea style="width: 31%; height: 150px; padding: 10px;" id="example-{{kth}}-explanation" placeholder="样例解释">{{example.explanation|e}}</textarea>
						</div>
					{% endfor %}
					<script>
						window.examplescnt = {{len(problem.examples)}}
						var AddNewExamples = function(input,output,explanation){
							window.examplescnt += 1
							var kth = window.examplescnt
							$("#examples-container").append(
								`<div class="row" id="example-${kth}" style="margin-bottom: 10px;">
									<h3 class="title" style="width: 7%;"> #${kth} </h3>
									<textarea style="width: 31%; height: 150px; padding: 10px;" id="example-${kth}-input" placeholder="样例输入">${input}</textarea>
									<textarea style="width: 31%; height: 150px; padding: 10px;" id="example-${kth}-output" placeholder="样例输出">${output}</textarea>
									<textarea style="width: 31%; height: 150px; padding: 10px;" id="example-${kth}-explanation" placeholder="样例解释">${explanation}</textarea>
								</div>`
							)
							return kth
						}
					</script>
				</div>
			</div>
			<div class="row item-centered">
				<button class="button button-primary button-rounded" onclick="AddNewExamples('','','')"> 添加一组样例 </button>
			</div>
			<p class="notice"> 将一组样例中三栏全部留空以删除这组样例 </p>
			<button class="button button-primary button-rounded" style="width: 96%; margin-top: 20px;" id="back-to-top"> 返回顶部 </button>
			<script>
				function ScrollToTop(){
					window.scrollTo(0,0)
				}
				$("#back-to-top").click(function(){ScrollToTop()})
				$(document).ready(function(){setTimeout(function(){ScrollToTop()},100)})
			</script>
		</div>
	</div>
</div>
<script>
var DoCollectInput = function(){
	var new_problem_id = $("#new-problem-id").val()
	var new_title = $("#new-title").val()
	var new_background = GetEditorbackgroundVal()
	var new_description = GetEditordescriptionVal()
	var new_input_format = GetEditorinput_formatVal()
	var new_output_format = GetEditoroutput_formatVal()
	var new_limit_and_hint = GetEditorlimit_and_hintVal()
	var new_is_public = $("#new-is-public").is(":checked") ? 1 : 0
	var examples = []
	for( var i = 1 ; i <= window.examplescnt ; ++i ){
		examples.push({
			input: $(`#example-${i}-input`).val(),
			output: $(`#example-${i}-output`).val(),
			explanation: $(`#example-${i}-explanation`).val()
		})
	}
	return {
		new_problem_id: new_problem_id,
		new_title: new_title,
		new_background: new_background,
		new_description: new_description,
		new_input_format: new_input_format,
		new_output_format: new_output_format,
		new_limit_and_hint: new_limit_and_hint,
		new_is_public: new_is_public,
		examples: JSON.stringify(examples)
	}
}
var DoSubmit = function(){
	var datapack = DoCollectInput()
	$.ajax({
		type: "POST",
		data: datapack,
		error: function(message){
			console.log('错误：');
			console.log(message);
			layer.alert('出锅了，提交失败<br />详细信息请查看控制台。<br />不过，输入的数据应该还没丢。',{
				title: '错误',
				icon: 2
			})
		},
		success: function(data){
			if( data.success == true ){
				layer.alert(data.message,{
					title: '提交成功',
					icon: 1,
					btn: ['查看题目','继续编辑'],
					yes: function(){
						window.location.href = '/problem/'+datapack['new_problem_id']
					},
					btn2: function(){
						if( datapack['new_problem_id'] != {{problem.id}} )
							window.location.href = '/problem/'+datapack['new_problem_id']+'/edit'
						return
					}
				})
			}else{
				layer.alert(data.message,{
					title: '提交失败',
					icon: 2
				})
			}
		}
	})
}
$("#submit").click(function(){DoSubmit()})
</script>
{% endblock %}
