{% extends 'base.html' %}
{% block title %} #{{problem.id}} {{problem.title}} {% endblock %}
{% block body %}
<div class="column item-centered" style="width: 1100px;">
	<div class="row item-centered" style="align-items: flex-start">
		<div class="column item-centered ivory" style="width: 76%; margin-right: 10px; padding-bottom: 20px; height: auto; align-item: flex-start;">
			<div class="row item-centered" style="margin: 14px 0px 0px 0px;"> <h1> #{{problem.id}}. {{problem.title}} </h1> </div>
			{% macro ContentBlock(name,content) %}
				{% if not IsEmpty(content) %}
					<div class="row item-centered">
						<div class="column item-centered" style="width: 94%;">
							<h2 class="row title" style="margin-left: 10px;"> {{name}} </h2>
							<div class="grey rounded havemarkdown" style="width: calc( 100% - 20px ); text-align: left; padding: 10px 10px; font-size: 20px; overflow: auto"> {{- content.replace('\\','\\\\')|e -}} </div>
						</div>
					</div>
				{% endif %}
			{% endmacro %}
			{{ContentBlock('题目背景',problem.background)}}
			{{ContentBlock('题目描述',problem.description)}}
			{{ContentBlock('输入格式',problem.input_format)}}
			{{ContentBlock('输出格式',problem.output_format)}}
			{{ContentBlock('数据范围与提示',problem.limit_and_hint)}}
			{% if len(problem.examples) != 0 %}
				<div class="row item-centered">
					<div class="column item-centered" style="width: 94%;">
						<h2 class="row title" style="margin-left: 10px; margin-bottom: 0px"> 样例 </h2>
						{% for example in problem.examples %}
							<div class="row item-centered">
								<div class="column item-centered" style="width: 94%;">
									<h3 class="row title" style="margin-left: 10px;"> 样例 {{loop.index}} </h3>
									<div class="row item-centered" style="align-items: flex-start">
										{% macro ExampleWordBlock(name,content) %}
											<div class="column" style="width: 48%; margin-right: 2%;">
												<pre><code class="hljs plaintext" style="background-color: #ddd;">{{content|e}}</code></pre>
											</div>
										{% endmacro %}
										{{ExampleWordBlock('输入',example.input)}}
										{{ExampleWordBlock('输出',example.output)}}
									</div>
									{% if not IsEmpty(example.explanation) %}
										<div class="column item-left-aligned havemarkdown" style="margin-top: 5px; width: 100%">样例解释：{{- example.explanation|e -}}</div>
									{% endif %}
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
			<div class="row item-centered" id="submit">
				<div class="column item-left-aligned" style="width: 94%;">
					<h2 class="row title" style="margin-left: 10px; margin-bottom: 10px"> 提交代码 </h2>
					{{macros.CodeEditor(languages,"code_editor")}}
					<script>
						var DoSubmitCode = function(){
							var code = window.code_editor.getValue()
							var lang = $("#code_editor-language-selector").val()
							document.cookie = "lastlang=" + lang + "; expires=Wed, 21 Aug 2030 09:28:41 GMT; path=/"
							$.ajax({
								method: "POST",
								data: {
									code: code,
									lang: lang
								},
								error: ReportAjaxError,
								success: function(data){
									if( data.success == true ){
										layer.msg('提交成功！');
										setTimeout(function(){
											window.location.href = '/submission/' + data.submission_id
										},400)
									}else{
										layer.alert(data.message,{
											title: '提交失败',
											icon: 2
										})
									}
								}
							})
						}
						$("#code_editor-submit-button").click(function(){ DoSubmitCode(); })
					</script>
				</div>
			</div>
		</div>
		<div class="column item-centered" style="width: 24%; height: auto !important; opacity: 0.92">
			<div class="row item-centered">
				<div class="column item-centered ivory" style="width: 100%;">
					<h2 class="title" style="margin-bottom: 9px;"> 相关信息 </h2>
					<div class="row item-centered" style="width: 100%; font-size: 16px; letter-spacing: 1px;"> 时间限制: {{problem.time_limit}} ms </div>
					<div class="row item-centered" style="width: 100%; font-size: 16px; letter-spacing: 1px;"> 空间限制: {{problem.memory_limit}} MiB </div>
					<div class="row item-centered" style="width: 100%; font-size: 16px; margin-bottom: 5px;"> 提供者: &nbsp;<a href="/user/{{problem.provider}}"> {{problem.provider}} </a> </div>
				</div>
			</div>
			<div class="row item-centered" style="margin-top: 10px;">
				<div class="column item-centered ivory" style="width: 100%">
					<a class="button button-plain" style="width: 100%; color: #1B9AF7; margin-top: 2px;" href="#submit"> <i class="fa fa-upload fa-fw"></i> 提交代码 </a>
					<a class="button button-plain" style="width: 100%; color: #a5de37" href="/submissions?problem_id={{problem.id}}"> <i class="fa fa-list fa-fw"></i> 提交记录 </a>
					<a class="button button-plain" style="width: 100%; color: #FEAE1B" href="/problem/{{problem.id}}/statistics"> <i class="fa fa-pie-chart fa-fw"></i> 统计信息 </a>
					<a class="button button-plain" style="width: 100%; color: #a49ef0; margin-bottom: 2px;" href="/submissions?problem_id={{problem.id}}&status={{name_to_id['Accepted']}}&sorting=time_usage ASC"> <i class="fa fa-signal fa-fw"></i> 排行榜 </a>
				</div>
			</div>
			{% if CheckPrivilegeOfProblem(nowuser,problem.id) %}
				<div class="row item-centered" style="margin-top: 10px;">
					<div class="column item-centered ivory" style="width: 100%;">
						<h2 class="title" style="margin-bottom: 5px; margin-top: 5px;"> 管理 </h2>
						<a class="button button-primary" style="width: 100%" href="/problem/{{problem.id}}/edit"> <i class="fa fa-edit fa-fw"></i> 编辑题目 </a>
						<a class="button button-primary" style="width: 100%" href="/problem/{{problem.id}}/manage"> <i class="fa fa-suitcase fa-fw"></i> 管理配置 </a>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
