{% extends 'base.html' %}
{% block title %} 管理 #{{problem.id}}. {{problem.title}} {% endblock %}
{% block body %}
<div class="column item-centered" style="width: 1300px;">
	<form method="POST" class="row item-centered" style="align-items: flex-start" enctype=multipart/form-data>
		<div class="column item-centered" style="width: 30%; height: auto !important; margin-right: 10px;">
			<div class="row item-centered ivory">
				<div class="column item-centered">
					<h2 class="title" style="font-size: 30px;"> 管理题目 - #{{problem.id}} </h2>
					<a class="button button-primary button-small" style="margin-bottom: 12px; width: 70%;" href="/problem/{{problem.id}}" id="goto-frontend"> 打开前台 </a>
					<script>
						$("#goto-frontend").click(function(event){
							if(event.ctrlKey) return
							event.preventDefault()
							layer.alert('您确定要离开吗？别忘了提交',{
								title: '确认离开',
								icon: 3,
								btn: ['确定','取消'],
								yes: function(){
									window.location.href='/problem/{{problem.id}}'
								},
								btn2: function(){
									return
								}
							})
						})
					</script>
				</div>
			</div>
			<div class="row item-centered ivory" style="margin-top: 10px;">
				<div class="column item-centered">
					<h2 class="title"> 时空限制 </h2>
					<div class="row item-centered login-input" style="width: 90%">
						<i class="fa fa-clock-o fa-fw"></i>
						<input class="login-input item-centered" style="width: 70%;" type="number" name="new_time_limit" value="{{problem.time_limit}}"> </input>
						<span style="width: 40px;"> ms </span>
					</div>
					<div class="row item-centered login-input" style="width: 90%">
						<i class="fa fa-microchip fa-fw"></i>
						<input class="login-input item-centered" style="width: 70%;" type="number" name="new_memory_limit" value="{{problem.memory_limit}}"> </input>
						<span style="width: 40px;"> MiB </span>
					</div>
				</div>
			</div>
			<div class="row item-centered ivory" style="margin-top: 10px;">
				<input type="hidden" name="type" value="data_upload">
				<button class="button button-action" style="width: 100%" type="submit"> 提交 </button>
			</div>
			<div class="row item-centered ivory" style="margin-top: 30px;">
				<div class="column item-centered" style="width: 100%">
					<h2 class="title"> 测试点 </h2>
					<div class="row item-centered">
						<div class="column item-centered" style="width: 90%;">
							{% macro PrintFileList(o,depth) %}
								<div class="row hover-animation item-vertical-centered" style="height: 34px; justify-content: space-between">
									<span class="item-left-aligned" style="width: 45%; margin-left: calc( 5% + {{40*depth}}px );"> {{o.name}} </span>
									{% if o.type == 'file' %}
										<span class="item-centered">
											<a href="/problem/{{problem.id}}/download?path={{o.path}}" class="button button-square button-small"> <i class="fa fa-download fa-fw"></i> </a>
											<a href="/problem/{{problem.id}}/preview?path={{o.path}}" class="button button-square button-small" target="_blank"> <i class="fa fa-eye fa-fw"></i> </a>
											<span class="button button-square button-small"> <i class="fa fa-trash fa-fw"></i> </span>
										</span>
									{% endif %}
								</div>
								{% for item in o.files %}
									{{PrintFileList(item,depth+1 if o.type != 'root_dir' else depth)}}
								{% endfor %}
							{% endmacro %}
							{{PrintFileList(problem.files,0)}}
							<!-- {% for file in problem.files %}
							<div class="row hover-animation item-vertical-centered" style="height: 34px; justify-content: space-between">
								<span class="item-left-aligned" style="width: 45%; margin-left: 5%;"> {{file}} </span>
								<span class="item-centered">
								<a href="/problem/{{problem.id}}/download?filename={{file}}" class="button button-square button-small"> <i class="fa fa-download fa-fw"></i> </a>
								<a class="button button-square button-small"> <i class="fa fa-eye fa-fw"></i> </a>
								<span class="button button-square button-small"> <i class="fa fa-trash fa-fw"></i> </span>
								</span>
							</div>
							{% endfor %} -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="column item-centered ivory" style="width: 70%; height: auto !important">
			<div class="row item-centered ivory">
				<div class="column item-centered" style="width: 96%">
					<div class="row item-centered" style="margin: 14px 0px 0px 0px;"> <h1> #{{problem.id}}. {{problem.title}} </h1> </div>
					<div class="row item-centered">
						<div class="column item-left-aligned" style="width: 100%">
							<h2 class="row title" style="font-size: 30px; color: #44aadd"> 数据配置文件 </h2>
							<textarea id="data-config-editor" name="new_data_config" style="width: 100%;">{{problem.data_config|e}}</textarea>
							<script>
								window.code_editor = CodeMirror.fromTextArea(document.getElementById("data-config-editor"),{
									mode: "application/json",
									lineNumbers: true,
									theme: "solarized light",
									lineWrapping: true,
									foldGutter: true,
									gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
									matchBrackets: true,
									indentUnit: 4,
									indentWithTabs: true,
									cursorHeight: 0.9
								});
								code_editor.setSize('100%','600px');
							</script>
							<p class="notice"> 如果您想键入特殊字符（如引号），请在其之前使用反斜线。如果您真的想键入反斜线，请使用 \\ </p>
							<p class="notice"> 详细格式请见<a href="/help">帮助</a> </p>
						</div>
					</div>
					<div class="row item-centered" style="margin-bottom: 14px;">
						<div class="column item-left-aligned" style="width: 100%">
							<h2 class="row title" style="font-size: 30px; color: #44aadd"> 数据上传 </h2>
							<input type="file" name="data">
							<p class="notice"> 请使用 zip 格式，上传的数据将<b>完全取代</b>之前的。 </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock %}
