{% extends 'base.html' %}
{% block title %} 评测记录 {% endblock %}
{% block body %}
<div class="column item-centered" style="width: 1400px;">
	<div class="row item-centered" style="align-items: flex-start">
		<div class="column item-centered" style="width: 1100px; height: auto;">
			<div class="row ivory item-vertical-centered" style="justify-content: space-between">
				<h1 style="margin-left: 100px;" class="title"> 评测记录 </h1>
			</div>
			<div class="row ivory item-centered" style="margin-top: 10px">
				<div class="column" style="width: 92%; padding-top: 24px;">
					<div class="row item-centered" style="height: 30px; font-size: 18px; font-weight: 500; margin-bottom: 5px;">
						<span class="column item-centered" style="width: 8%;"> # </span>
						<span class="column item-centered" style="width: 27%;"> 题目 </span>
						<span class="column item-centered" style="width: 29%;"> 状态 </span>
						<span class="column item-centered" style="width: 6%;"> 分数 </span>
						<span class="column item-centered" style="width: 15%;"> 提交者 </span>
						<span class="column item-centered" style="width: 13%;"> 提交时间 </span>
						<span class="column item-centered" style="width: 2%;"> </span>
					</div>
					{% for submission in submissions %}
						<div class="row hover-animation item-centered" style="height: 50px;">
							<span class="column item-centered" style="width: 8%;">
								<a href="/submission/{{submission.id}}">
									{{submission.id}}
								</a>
							</span>
							<span class="column item-centered" style="width: 27%; font-size: 17px;">
								<a href="/problem/{{submission.problem_id}}">
									#{{submission.problem_id}}. {{dbExecute('SELECT title FROM problems WHERE id=%s',submission.problem_id)[0].get('title')}}
								</a>
							</span>
							<span class="column item-centered" style="width: 29%;">
								<a href="/submission/{{submission.id}}" style="color: {{id_to_color[submission.status]}}; align-items: flex-end;" class="">
									<i class="{{id_to_sign[submission.status]}}" style="margin-right: 2px;"> </i>
									<span style="font-size: 19px;"> {{id_to_word[submission.status]}} </span>
								</a>
							</span>
							<span class="column item-centered" style="width: 6%;">
								<a href="/submission/{{submission.id}}" style="color: {{GetColorOfScore(submission.score)}}">
									{{ScoreRounding(submission.score)}}
								</a>
							</span>
							<span class="column item-centered" style="width: 15%;">
								<a href="/user/{{submission.submitter}}">
									{{submission.submitter}}
								</a>
							</span>
							<span class="column item-centered" style="width: 13%;">
								<a href="/submission/{{submission.id}}" style="font-size: 12px;">
									{{submission.submit_time}}
								</a>
							</span>
							<span class="column item-centered" style="width: 2%;"> </span>
						</div>
					{% endfor %}
					<div class="row item-centered">
						{{macros.AutoPagination(pageinfo)}}
					</div>
				</div>
			</div>
		</div>
		<div class="column item-centered ivory" style="width: 300px; margin-left: 10px; display: none; height: auto;" id="filter">
			<div class="row item-centered"> <h2 class="title"> 筛选 </h2> </div>
			<div class="row item-centered">
			</div>
		</div>
	</div>
</div>
{% endblock %}
