{% extends 'base.html' %}
{% block title %} 提交记录 #{{submission.id}} {% endblock %}
{% block body %}
<div class="column item-centered" style="width: 1100px;">
	<div class="row item-centered ivory">
		<div class="column item-centered" style="width: 96%; padding-top: 17px;">
			<div class="row item-centered" style="height: 30px; font-size: 18px; font-weight: 500;">
				<span class="column item-centered" style="width: 6%;"> # </span>
				<span class="column item-centered" style="width: 20%;"> 题目 </span>
				<span class="column item-centered" style="width: 26%;"> 状态 </span>
				<span class="column item-centered" style="width: 6%;"> 分数 </span>
				<span class="column item-centered" style="width: 16%;"> 战绩 </span>
				<span class="column item-centered" style="width: 12%;"> 提交者 </span>
				<span class="column item-centered" style="width: 14%;"> 提交时间 </span>
			</div>
			<div class="row item-centered" style="height: 70px;">
				<span class="column item-centered" style="width: 6%; font-size: 16px;">
					<a href="/submission/{{submission.id}}">
						{{submission.id}}
					</a>
				</span>
				<span class="column item-centered" style="width: 20%; font-size: 16px;">
					<a href="/problem/{{submission.problem_id}}">
						#{{submission.problem_id}}. {{dbExecute('SELECT title FROM problems WHERE id=%s',submission.problem_id)[0].get('title')}}
					</a>
				</span>
				<span class="column item-centered" style="width: 26%;">
					<a href="/submission/{{submission.id}}" style="color: {{id_to_color[submission.status]}}" class="item-centered">
						<i class="{{id_to_sign[submission.status]}}" style="margin-right: 2px;"> </i>
						<span style="position: relative; top: 1px; font-size: 19px;"> {{id_to_word[submission.status]}} </span>
					</a>
				</span>
				<span class="column item-centered" style="width: 6%;">
					<a href="/submission/{{submission.id}}" style="color: {{GetColorOfScore(submission.score)}}">
						{{ScoreRounding(submission.score)}}
					</a>
				</span>
				<span class="column item-centered" style="width: 16%; font-size: 16px;">
					{{submission.time_usage}} ms / {{submission.memory_usage}} M <br />
					{{submission.language}} /
					{% if submission.length >= 1024 %} {{round(submission.length/1024.0,1)}} K {% else %} {{submission.length}} B {% endif %}
				</span>
				<span class="column item-centered" style="width: 12%; font-size: 16px;">
					<a href="/user/{{submission.submitter}}">
						{{submission.submitter}}
					</a>
				</span>
				<span class="column item-centered" style="width: 14%;">
					<a href="/submission/{{submission.id}}" style="font-size: 12px;">
						{{submission.submit_time}}
					</a>
				</span>
			</div>
		</div>
	</div>
	<div class="row item-centered ivory" style="margin-top: 5px;">
		<div class="column item-left-aligned" style="width: 92%;">
			<h2 class="row title item-left-aligned" style="margin-left: 10px;"> 源代码 </h2>
			<pre style="width: 100%; margin-bottom: 12px;"><code class="hljs {{submission.language}}" style="background-color: #fff; padding: 10px 0px 10px 12px; font-family: monospace consolas">{{submission.code|e}}</code></pre>
		</div>
	</div>
	{% if not IsEmpty(submission.compilier_message) %}
		<div class="row item-centered ivory" style="margin-top: 5px;">
			<div class="column item-left-aligned" style="width: 92%;">
				<h2 class="row title item-left-aligned" style="margin-left: 10px;"> 编译信息 </h2>
				<pre style="width: 100%; margin-bottom: 12px;"><code class="hljs plaintext">{{submission.compilier_message|e}}</code></pre>
			</div>
		</div>
	{% endif %}
	{% if not IsEmpty(submission.system_message) %}
		<div class="row item-centered ivory" style="margin-top: 5px;">
			<div class="column item-left-aligned" style="width: 92%;">
				<h2 class="row title item-left-aligned" style="margin-left: 10px;"> 系统信息 </h2>
				<pre style="width: 100%; margin-bottom: 12px;"><code class="hljs plaintext">{{submission.system_message|e}}</code></pre>
			</div>
		</div>
	{% endif %}
</div>
{% endblock %}
