{% extends 'base.html' %}
{% block title %} 评测记录 {% endblock %}
{% set filter_keys = ['problem_id','submitter','min_score','max_score'] %}
{% block body %}
<div class="column item-centered" style="width: 1400px;">
	<div class="row item-centered" style="align-items: flex-start">
		<div class="column item-centered" style="width: 1100px; height: auto;">
			<div class="row ivory item-vertical-centered" style="justify-content: space-between">
				<h1 style="margin-left: 100px;" class="title"> 评测记录 </h1>
				{% if nowuser != None %}
					{% if request.args.get('submitter') != nowuser %}
						<a href="/submissions?{{GetArgsAsString(['submitter'])}}&submitter={{nowuser}}" style="margin-right: 50px;" class="button button-small button-primary button-rounded"> 我的提交 </a>
					{% else %}
						<a href="/submissions?{{GetArgsAsString(['submitter'])}}" style="margin-right: 50px;" class="button button-small button-primary button-rounded"> 去除筛选「我的提交」 </a>
					{% endif %}
				{% endif %}
			</div>
			<div class="row ivory item-centered" style="margin-top: 10px">
				<div class="column" style="width: 92%; padding-top: 24px;">
					<div class="row item-centered" style="height: 30px; font-size: 18px; font-weight: 500; margin-bottom: 5px;">
						<span class="column item-centered" style="width: 8%;"> # </span>
						<span class="column item-centered" style="width: 27%;"> 题目 </span>
						<span class="column item-centered" style="width: 29%;"> 状态 </span>
						<span class="column item-centered" style="width: 6%;"> 分数 </span>
						<span class="column item-centered" style="width: 15%;"> 提交者 </span>
						<span class="column item-centered" style="width: 13%;"> 提交时间 </span>
						<span class="column item-centered" style="width: 2%;"> </span>
					</div>
					{% for submission in submissions %}
						<div class="row hover-animation item-centered" style="height: 50px;">
							<span class="column item-centered" style="width: 8%;">
								<a href="/submission/{{submission.id}}">
									{{submission.id}}
								</a>
							</span>
							<span class="column item-centered" style="width: 27%; font-size: 17px;">
								<a href="/problem/{{submission.problem_id}}">
									#{{submission.problem_id}}. {{dbExecute('SELECT title FROM problems WHERE id=%s',submission.problem_id)[0].get('title')}}
								</a>
							</span>
							<span class="column item-centered" style="width: 29%;">
								<a href="/submission/{{submission.id}}" style="color: {{id_to_info[submission.status].color}}; align-items: flex-end;" class="">
									<i class="{{id_to_info[submission.status].sign}}" style="margin-right: 2px;"> </i>
									<span style="font-size: 19px;"> {{id_to_info[submission.status].name}} </span>
								</a>
							</span>
							<span class="column item-centered" style="width: 6%;">
								<a href="/submission/{{submission.id}}" style="color: {{GetColorOfScore(submission.score)}}">
									{{ScoreRounding(submission.score)}}
								</a>
							</span>
							<span class="column item-centered" style="width: 15%;">
								<a href="/user/{{submission.submitter}}">
									{{submission.submitter}}
								</a>
							</span>
							<span class="column item-centered" style="width: 13%;">
								<a href="/submission/{{submission.id}}" style="font-size: 12px;">
									{{submission.submit_time}}
								</a>
							</span>
							<span class="column item-centered" style="width: 2%;"> </span>
						</div>
					{% endfor %}
					<div class="row item-centered">
						{{macros.AutoPagination(pageinfo)}}
					</div>
				</div>
			</div>
		</div>
		<div class="column item-centered ivory" style="width: 300px; margin-left: 10px; height: auto;" id="filter">
			<div class="row item-centered"> <h2 class="title"> 筛选 </h2> </div>
			{% macro FilterOption(description,id,input_width='50%',description_width='26%') %}
				<div class="row item-centered" style="margin-bottom: 10px;">
					<span class="column item-centered" style="font-size: 16px; width: {{description_width}}"> {{description}} </span>
					<span class="column item-centered" style="width: {{input_width}}; margin-left: 10px;">
						<input id="{{id}}-input" class="login-input" style="border: 1px solid #aaa; border-radius: 2px; font-size: 16px; text-align: center" value="{{request.args.get(id,'')}}"> </input>
					</span>
				</div>
			{% endmacro %}
			{{FilterOption('题目 id','problem_id')}}
			{{FilterOption('提交者','submitter')}}
			{{FilterOption('最小分数','min_score')}}
			{{FilterOption('最大分数','max_score')}}
			<div class="row item-centered" style="margin-bottom: 12px;">
				<button id="search-button" class="button button-primary button-small" style="width: 76%;"> 查找 </button>
			</div>
			<script>
				$("#search-button").click(function(){
					new_url = '/submissions?' + '{{GetArgsAsString(['page','problem_id','submitter','min_score','max_score'])}}'
					new_url += 'problem_id=' + $("#problem_id-input").val() + '&'
					new_url += 'submitter=' + $("#submitter-input").val() + '&'
					new_url += 'min_score=' + $("#min_score-input").val() + '&'
					new_url += 'max_score=' + $("#max_score-input").val() + '&'
					window.location.href = new_url
				})
			</script>
		</div>
	</div>
</div>
{% endblock %}
