{% extends 'base.html' %}
{% block title %} 用户排行榜 {% endblock %}
{% block body %}
<div class="column item-centered" style="width: 1100px;">
	<div class="row ivory item-vertical-centered" style="justify-content: space-between">
		<h1 style="margin-left: 100px;" class="title"> 排行榜 </h1>
		<div class="column item-centered" style="margin-right: 70px;">
			<div class="row item-centered" style="border: 1px solid #bbb; border-radius: 2px;">
				<input id="search-user-input" style="background-color: #ffffff99; width: 200px; font-size: 18px; padding-left: 10px; caret-color: #999; height: 28px;"> </input>
				<button id="search-user" class="button button-small button-square row item-centered"><i class="fa fa-search"></i></button>
				<script>
					function DoSearchUser(){
						window.location.href = "/user/" + $("#search-user-input").val()
					}
					var is_input_focusing = false
					$("#search-user-input").focus(function(){ is_input_focusing = true; })
					$("#search-user-input").blur(function(){ is_input_focusing = false; })
					$("#search-user").click(function(){DoSearchUser()})
					$(document).keydown(function(event){
						if( event.keyCode == 13 && is_input_focusing )
							DoSearchUser()
					});
				</script>
			</div>
		</div>
	</div>
	<div class="row ivory item-centered" style="margin-top: 10px">
		<div class="column" style="width: 95%; padding-top: 24px;">
			<div class="row item-centered">
				{{macros.AutoPagination(pageinfo)}}
			</div>
			<div class="row item-centered" style="height: 30px; font-size: 16px; font-weight: 500;">
				<span class="column" style="width: 8%"> </span>
				<span class="column item-centered" style="width: 40px; min-width: 40px; margin-right: 15px;"> </span>
				<span class="column item-verticle-centered" style="width: 22%; align-items: flex-start;"> 用户 </span>
				<span class="column item-centered" style="width: 7%"> Rating </span>
				<span class="column item-centered" style="width: 70%"> 个性签名 </span>
				<span class="column" style="width: 5%"> </span>
			</div>
			{% for user in users %}
				<div class="row item-centered hover-animation" style="height: 60px;">
					<span class="column" style="width: 8%"> </span>
					<a class="column item-centered" href="/user/{{user.username}}" style="width: 40px; min-width: 40px; margin-right: 15px;">
						<img src="{{GetGravatarAddress(user.username,user.email,40)}}" style="height: 40px;"> </img>
					</a>
					<a class="column item-centered" href="/user/{{user.username}}" style="width: 22%; align-items: flex-start !important; color: #000;">
						<span style="font-size: 20px; letter-spacing: 1px;"> {{user.username|e}} </span>
						<span style="font-size: 11px; color: #888"> {{user.realname|e}} </span>
					</a>
					<div class="column item-centered" style="width: 7%; font-size: 16px;"> {{user.rating}} </div>
					<div class="column item-centered" style="width: 70%; flex-grow: 0; overflow: hidden;"> {{user.motto|e}} </div>
					<span class="column" style="width: 5%"> </span>
				</div>
			{% endfor %}
			<div class="row item-centered">
				{{macros.AutoPagination(pageinfo)}}
			</div>
		</div>
	</div>
</div>
{% endblock %}
